<%= form_for(@song) do |f| %>
  <label>Song Name:</label><br>
  <%= f.text_field :name %><br>

  <label>Released:</label><br>
  <%= f.text_field :released %><br>

  <% if @song.released %>
    <label>Release Year:</label><br>
    <%= f.text_field :release_year %><br>
  <% end %>

  <label>Song Artist:</label><br>
  <%= f.text_field :artist_id %><br>

  <label>Song Genre:</label><br>
  <%= f.text_field :genre_id %><br>

  <%= f.submit %>
<% end %>
